body {
    align-items: center;
    font-family: "Cascadia Code PL";
    background-color: chocolate;
}

h2 {
    background-color: darkorange;
    box-shadow: 0px 2px 20px 0px;

}

#tituloPrincipal {
    display: flex;
    justify-content: center;
}
img {
    transition: 400ms;
    max-width: 250px;
    max-height:  250px;
    border-radius: 20px;
}

img:hover {
    transition: 400ms;
    max-width: 200px;
    max-height:  200px;
    border-radius: 20px;
}

#divContenidoAnimado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}


#divImagen {
    display: grid;
}
#imagenTexto1 {
    grid-column: 1;
    grid-row: 1;
    column-gap: 20px;
    row-gap: 20px;
}
#imagenTexto2 {
    grid-column: 2;
    grid-row: 1;
    column-gap: 20px;
    row-gap: 20px;
}
#imagenTexto3 {
    grid-column: 3;
    grid-row: 1;
    column-gap: 20px;
    row-gap: 20px;
}

#divTextoDebajo {
    display: grid;
}
#spanImagenTexto1 {
    animation-direction: normal;
    grid-column: 1;
    grid-row: 2;
    column-gap: 20px;
    row-gap: 20px;
    background-color: darkorange;
    max-width: 40%;
    max-height: 20%;
}
#spanImagenTexto2 {
    animation-direction: normal;
    grid-column: 2;
    grid-row: 2;
    column-gap: 20px;
    row-gap: 20px;
    background-color: darkorange;
    max-width: 40%;
    max-height: 20%;
}
#spanImagenTexto3 {
    animation-direction: normal;
    grid-column: 3;
    grid-row: 2;
    column-gap: 20px;
    row-gap: 20px;
    background-color: darkorange;
    max-width: 40%;
    max-height: 20%;
}